server {
    listen 80;

    server_name phalcon-app.test;

    index index.php index.html index.htm;
    set $root_path '/app/myapp/public';

    root $root_path;

    charset utf-8;

    try_files $uri $uri/ @rewrite;

    location / {
        rewrite ^(.*)$ /index.php?_url=$1;
    }

    location ~ \.php$ {
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        fastcgi_pass             unix:/run/php/php7.2-fpm.sock;
        fastcgi_index            /index.php;

        include                  fastcgi_params;

        fastcgi_split_path_info       ^(.+\.php)(/.+)$;
        fastcgi_param PATH_INFO       $fastcgi_path_info;
        fastcgi_param PATH_TRANSLATED $document_root$fastcgi_path_info;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;

        fastcgi_intercept_errors on;
        fastcgi_read_timeout     300;
        fastcgi_buffer_size      16k;
        fastcgi_buffers          4 16k;
    }

    location ~* ^/(css|img|js|flv|swf|download)/(.+)$ {
        root $root_path;
    }

    error_log /var/log/nginx/phalcon_error.log;
    access_log /var/log/nginx/phalcon_access.log;
}